*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
:root {
    --primary-color: white;
    --secondary-color: black;
  }
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
}
nav{
    width: 100%;
    position: fixed;
    top: 0%;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    height: 10vh;
    justify-content: space-between;
    padding: 0vh 2vw;
}
nav .name{
    display: flex;
    align-items: center;
    gap: 1vw;
}
nav .btns{
    display: flex;
    align-items: center;
}
nav .btns a{
    margin-right: 1.5vw;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 500;
}
#page1 section{
    margin-top: 10vh;
    height: 80vh;
    /* background-color: rebeccapurple; */
    display: flex;
    padding: 0vh 7vw;
}
section .bio{
    padding-top: 8vh;
    height: 100%;
    width: 50%;
    /* background-color: red; */
}
section .bio h1{
    margin-top: 2vh;
    font-size: 2.5vw;
}
section .bio h1 span{
    color: gray;
    text-decoration: underline black ;
}
section .bio p{
    font-size: 1.8vw;
    width: 85%;
    margin-top: 2vh;
}
section .bio .section-btns{
    margin-top: 5vh;
    /* position: relative; */
    /* background-color: rgb(28, 67, 100);   */
    height: 10vh;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}
.section-btns button{
    color: white;
    font-size: 1vw;
    font-weight: 800;
    padding: 0vh 0.5vw;
    height: 80%;
    width: 35%;
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section-btns button:nth-child(1){
    background: linear-gradient(to right,rgb(220, 163, 57),rgb(255, 166, 0));
}
.section-btns button:nth-child(2){
    background: linear-gradient(to right,gray,black);
}
#CV-button{
    position: absolute;
    top:31%;
    left:7%;
}
#Get-touch-button{
    position: absolute;
    top:31%;
    left:42%;
}
section .profile-pic{
    height: 100%;
    width: 50%;
    /* background-color: rgb(61, 154, 154); */
    display: flex;
    justify-content: center;
}
aside{
    height: 35vh;
    width: 2%;
    position: fixed;
    left: 3%;
    top: 63%;
    /* background-color: chartreuse; */
}
aside .social-links{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
aside .social-links i{
    font-size: 4vh;
}
#email{
    height: 45vh;
    width: 2%;
    position: fixed;
    right: 3%;
    top: 50%;
    /* background-color: aqua;  */
    border-bottom: 5px solid black;
}
#email p{
    /* height: 45vh; */
    /* width: 2%; */
    position: absolute;
    right: -290%;
    top: 58%;
    rotate: -90deg;
    font-size: 1vw;
    font-weight: 800;
}
#page2{
    /* background-color: rgba(170, 112, 112, 0.335); */
    height: 100vh;
    width: 100% ;
    position: relative;
}
#page2 .content{
    position: absolute;
    top: 10%;
    left: 30%;
    height: 60vh;
    width: 50vw;
    /* background-color: aqua; */
    /* border-bottom: 1px solid black; */
}
#T{
    font-size: 7vh;
}
#page2 .content h1{
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}
#page2 .content .text{
    margin-top: 4vh;
    font-size: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#page2 .content .text:nth-child(3){
    margin-top: 0vh
}
#page2 .content .text span{
    font-weight: 600;
}
#page2 svg:nth-child(1){
    position: absolute;
    top: -1%;
    left: 0%;
    z-index: -1;
}
#page2 svg:nth-child(2){
    position: absolute;
    top: 61%;
    /* bottom: -43%; */
    left: 17%;
    z-index: -1;
}
#page2 svg:nth-child(3){
    position: absolute;
    top: 58%;
    right: 13%;
    z-index: -1;
}
#page2 svg:nth-child(4){
    position: absolute;
    top: 9%;
    right: 0%;
    z-index: -1;
}
#hand-svg{
    position: absolute;
    top:-15%;
    z-index: -1;
}
.line-up{
    height: 2px;
    background-color: black;
    width: 35%;
    position: absolute;
    top: 16%;
    left: 45%;
}
.line-down{
    height: 2px;
    background-color: black;
    width: 15%;
    position: absolute;
    top: 70%;
    /* bottom: -12%; */
    left: 45%;
}
@media screen and (max-width: 600px) {
    section .bio h1{
        margin-top: 2vh;
        font-size: 4.5vw;
    }
    section .bio p{
        font-size: 2.2vw;
        width: 85%;
        margin-top: 2vh;
    }
    #CV-button{
        position: absolute;
        top:17%;
        left: 22%;
    }
    #Get-touch-button{
        position: absolute;
        top:66%;
        left:24%;
    }
    #hand-svg{
        position: absolute;
        top:-10%;
        z-index: -1;
        height: 530px;
        width: 120px;
    }
    .line-down{
        height: 2px;
        background-color: black;
        width: 15%;
        position: absolute;
        top: 53%;
        /* bottom: -12%; */
        left: 45%;
    }
    .line-up{
        height: 2px;
        background-color: black;
        width: 30%;
        position: absolute;
        top: 15%;
        left: 48%;
    }
    #T{
        font-size: 5vh;
    }
    #page2 .content .text{
        font-size: 1.5vw;
    }
  }

  @media screen and (max-width: 700px){
    #hand-svg{
        position: absolute;
        top:-5%;
        z-index: -1;
        height: 500px;
        width: 170px;
    }
    #page2 .content .text{
        font-size: 1.5vw;
    }
  }
  @media screen and (max-width: 550px){
    #hand-svg{
        position: absolute;
        top:-5%;
        z-index: -1;
        height: 500px;
        width: 140px;
    }
  }


  @media screen and (max-width: 800px){
    #CV-button{
        position: absolute;
        top:17%;
        left: 18%;
    }
    #Get-touch-button{
        position: absolute;
        top:66%;
        left:19%;
    }
  }

  @media screen and (max-width: 1055px){
    #CV-button{
        position: absolute;
        top:16%;
        left: 13%;
    }
    #Get-touch-button{
        position: absolute;
        top:66%;
        left:12%;
    }
    section .bio .section-btns{
        margin-top: 5vh;
        /* position: relative; */
        /* background-color: rgb(28, 67, 100);   */
        height: 20vh;
        width: 70%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        gap: 14px;
    }
    .section-btns button{
        color: white;
        font-size: 1.1vw;
        font-weight: 800;
        padding: 0vh 0.5vw;
        height: 80%;
        width: 35%;
        border: 4px solid white;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }

  /* @media screen and (max-width: 1201px){
    #CV-button{
        position: absolute;
        top:31%;
        left: 10%;
    }
    #Get-touch-button{
        position: absolute;
        top:33%;
        left:53%;
    }
  } */